@import "tailwindcss";

@theme {
  --font-sans: 'Inter', sans-serif;
  --color-background: #09090B;
  --color-primary: #2563EB;
  --color-secondary: #7C3AED;
  --color-accent: #38BDF8;
  --color-card: #18181B;
}

@utility glass {
  background-color: rgb(24 24 27 / 0.6);
  backdrop-filter: blur(12px);
  border-width: 1px;
  border-color: rgb(255 255 255 / 0.05);
}